@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&subset=latin&display=swap');

.mainWeather {
	display: flex;
	justify-content: center;
	text-align: center;
}

.mainTitle {
	font-size: 32px;
	text-align: center;
}

.hourlyHeader {
	font-size: 32px;
	text-align: center;
}

.blockWeather {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	text-align: center;
	height: 100%;
	width: 100%;
	margin-top: 30px;
	flex: 1;
}

.temp {
	font-size: 28px;
}

.wheatherItem {
	display: flex;
	flex: 1;
	flex-direction: column;
}


.description {
	line-height: 130%;
	font-weight: 500;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	width: 120px;
	text-align: center;
}

.date {
	font-size: 18px;
}

.itemWeather {
	display: flex;
	justify-content: center;
	text-align: center;
	flex: 1;
}

.fullDay {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	overflow-y: hidden;
	overflow-x: auto;
}

.hourlyDay {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.hourlyWeather {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.hourlyItem {
	display: flex;
	text-align: center;
	flex: 1;
}


.fullDay::-webkit-scrollbar {
	height: 5px;
	width: 1px;
}


.fullDay::-webkit-scrollbar-track {
	background-color: transparent;
}


.fullDay::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: rgba(196, 193, 193, 0.63);
}
