@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&subset=latin&display=swap');

.mainWeather {
	display: flex;
	justify-content: center;

	text-align: center;
}

.mainTitle {
	text-align: center;

	font-size: 32px;
}

.hourlyHeader {
	text-align: center;

	font-size: 32px;
}

.blockWeather {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-around;

	width: 100%;
	height: 100%;
	margin-top: 30px;

	text-align: center;
}

.temp {
	font-size: 28px;
}

.wheatherItem {
	display: flex;
	flex: 1;
	flex-direction: column;
}


.description {
	width: 120px;

	text-align: center;

	font-family: Poppins, sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 130%;
}

.date {
	font-size: 18px;
}

.itemWeather {
	display: flex;
	justify-content: center;

	text-align: center;
}

.fullDay {
	display: flex;
	overflow: hidden;
	justify-content: space-between;
	gap: 10px;

	width: 100%;
	height: 100%;
}

.hourlyDay {
	display: flex;
	justify-content: space-between;

	width: 100%;
	height: 100%;
}

.hourlyWeather {
	display: flex;
	flex-direction: column;

	width: 100%;
	height: 100%;
}

.hourlyItem {
	display: flex;
	flex: 1;

	text-align: center;
}


.fullDay::-webkit-scrollbar {
	width: 1px;
	height: 5px;
}


.fullDay::-webkit-scrollbar-track {
	background-color: transparent;
}


.fullDay::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: rgb(196 193 193 / 63%);
}

@media (width <= 1120px) {
	.fullDay {
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		align-content: center;
		flex-direction: row;
	}
}

@media (width <= 900px) {
	.fullDay {
		margin-left: 40px;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		align-content: center;
		flex-direction: row;
	}
}