.blockHeader {
	display: flex;
	align-items: center;
	justify-content: center;

	margin-bottom: 11px;
	padding: 17px 25px;

  	cursor: pointer;
  	transition: all .3s;
	text-align: center;
	opacity: 1;
	border: none;
	transform: scale(1);
	border-radius: 44px;
	background-color: #d9d9d92a;
}

.blockHeader.active {
	display: none;
}

.blockHeader:hover {
  outline: 3px solid #ffd000;
	outline-offset: 5px;
}

.blockHeader:focus {
  outline: 3px solid #ffd000;
	outline-offset: 5px;
}

.contenBlcok {
	font-size: 20px;
}

.img {
	width: 42px;
	height: 42px;
}

@media (width <= 900px) {
	.blockHeader {
		margin-top: 10px;
		margin-right: 10px;
	}
	.blockHeader:hover {
		outline: none;
		outline-offset: 0;
	}

	.blockHeader:focus {
		outline: none;
		outline-offset: 0;
	}
}

@media (width <= 610px) {
	.contenBlcok {
		font-size: 18px;
	}

	.img {
		width: 30px;
		height: 30px;
	}

	.blockHeader {
		margin-bottom: 3px;
		padding: 17px 25px;

		transition: all .2s;

		border: none;
		border-radius: 44px;
		background-color: #d9d9d92a;
	}
}

@media (width <= 300px) {
	.blockHeader {
		margin-right: 10px;
		}
}