.blockHeader {
	margin-bottom: 11px;
	padding: 20px 50px;

	border-radius: 44px;
	background-color: #d9d9d92a;
}

.contenBlcok {
	font-size: 24px;
}

@media (width <= 900px) {
	.blockHeader {
		margin-top: 10px;
		margin-right: 10px;
	}
}

@media (width <= 610px) {
	.contenBlcok {
		font-size: 18px;
	}

	.blockHeader {
		margin-top: 12px;
		margin-left: 15px;
		padding: 17px 40px;

		transition: all .2s;

		border: none;
		border-radius: 44px;
		background-color: #d9d9d92a;
	}
}

@media (width <= 335px) {
	.blockHeader {
			margin-top: 12px;
			margin-left: 10px;
			padding: 17px 30px;

			transition: all .2s;

			border: none;
			border-radius: 44px;
			background-color: #d9d9d92a;
		}
}