

.avatar {
	width: 100px;
	height: 100px;

	cursor: pointer;
	transition: all .1s;

	border-radius: 50%;
	outline: none;
}

.avatar img {
	position: relative;

	overflow: hidden;

	width: 100px;
	height: 100px;

	transition: all .1s;
	transform: translateX(-2px) translateY(-2px);

	border-radius: 50%;
	outline: none;
}

.avatarWrappe {
	display: flex;
	flex-direction: row;
}

.name {
	display: flex;
	justify-content: center;

	white-space: nowrap;

	font-size: 18px;
}

.avatar img:hover {
	outline: 3px solid #ffd000;
	outline-offset: 5px;
}

.avatar:focus {
  outline: 3px solid #ffd000;
	outline-offset: 5px;
}