.admininterface {
	position: relative;

	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	width: 100%;
	height: 50vh;

	color: #fff;
	background: none
}

.form {
	position: relative;

	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	width: 250px;
}

.sectionButtuns {
	display: flex;
	justify-content: space-between;

	width: 100%;
	margin-top: 10px;
}

.title {
	font-size: 56px;
}

.email {
	width: 100%;
	padding: 5px 10px;

	cursor: pointer;
	transition: all .3s;

	color: #fff;
	border: 1px solid #c1c1c1;
	border-radius: 5px;
	background: none;

	font-size: 16px;
}

.email::placeholder, .password::placeholder {
	color: #fff;
}


.password {
	width: 100%;
	margin-top: 7px;
	padding: 5px 10px;

	cursor: pointer;
	transition: all .3s;

	color: #fff;
	border: 1px solid #c1c1c1;
	border-radius: 5px;
	background: none;

	font-size: 16px;
}

.email:hover, .password:hover {
	transform: scale(1.1);
}

.forgot {
	cursor: pointer;

	color: #c1c1c1;
}	

.submit {
	padding: 5px;

	cursor: pointer;
	transition: all .3s;

	color: #fff;
	border: 1px solid #c1c1c1;
	border-radius: 15px;
	background: none;
}

.submit:hover {
	border-radius: 7px;
}