.input {
	padding: 5px 10px;

	color: #fff;
	border: none;
	border-radius: 5px;
	background-color: #d9d9d92a;
}

.input:focus {
	outline: 2px solid #ffd000;
	outline-offset: 1px;
}

.date {
	color: #000;
}

.submit {
	align-self: center;

	margin-right: 10px;
	padding: 10px 15px;

	cursor: pointer;
	transition: all .3s;

	color: #fff;
	border: none;
	border-radius: 5px;
	background-color: lime;

	font-size: 24px;
}

.submit:active {
	transform: scale(0.95);
}

.title {
	font-size: 32px;
}

.textarea {
	height: 100px;

	resize: none;
}

.textarea::placeholder {
	color: #fff;
}

.date {
	padding: 10px;

	color: #000;
	border: none;
	border-radius: 5px;
	outline: none;
	background-color: #fff;

	font-family: Poppins, monospace;
	font-size: 18px;
}

.checkbox {
	width: 20px;
}

.date::-webkit-calendar-picker-indicator {
	cursor: pointer;

	border-radius: 3px;
	background-color: #fff;
}

.mainChange {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: flex-start;

	width: 100%;
}

.section {
	display: flex;
	flex-wrap: wrap;

	width: 950px;
	gap: 10px;
}


.sectionLesson {
	display: flex;
	flex-direction: column;

	margin-top: 10px;
	margin-left: 8px;
	padding: 10px;

	border: 1px solid #d9d9d92a;
	border-radius: 5px;
	gap: 4px;
}

.modal {
	position: fixed;

	display: flex;
	align-items: flex-end;
	justify-content:flex-end;

	width: 100%;
	height: 100%;

	transform: translate(60px, -165px);

	background-color: none;
}

.modalContent {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 250px;
	height: 150px;
	margin-right: 25px;

	transform: translateY(250px);
	animation: modal 3s;
	text-align: center;

	border-radius: 20px;
	background-color: #d9d9d92a;
}

.textModal {
	color: #39d405;

	font-size: 26px;
}

@keyframes modal {
	0% {
		transform: translateY(100px);
	}

	50% {
		transform: translateY(-100px);
	}

	100% {
		transform: translateY(150px);
	}
}

@media (width <= 1120px) {
	.section {
		align-items: center;
		flex-flow: column nowrap;
		justify-content: center;
	}

	.sectionLesson {
		display: flex;
		flex-direction: column;

		width: 60vw;
		margin-top: 10px;
		margin-left: 8px;
		padding: 10px;

		border: 1px solid #d9d9d92a;
		border-radius: 5px;
		gap: 4px;
	}
}