.main {
  display: flex;
  align-items: center;
	flex-direction: column;
  justify-content: space-between;

	min-width: 100vw;
  min-height: 100vh;
}

.wrapper {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;

	min-height: 100vh;	

	background: none;
}

.wrapperContent {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-shrink: 0;
	justify-content: center;

	min-width: 660px;
	height: 100%;
}

.backgroundContent {
	display: flex;
	overflow: hidden;
	flex-shrink: 0;
	justify-content: center;

	width: 1200px;
	min-width: 678px;
	max-width: 1200px;
	height: 80vh;

	border-radius: 35px;
	background-color: #d9d9d92a;
}

.scrollBlock {
	overflow: auto;
	overflow-x: hidden;

	width: 98%;
	min-width: 80%;
	height: 92%;
	margin-bottom: 30px;

	background: none;
}

.scrollBlock::-webkit-scrollbar {
  width: 10px;
}


.scrollBlock::-webkit-scrollbar-track {
  background-color: transparent; 
}


.scrollBlock::-webkit-scrollbar-thumb {
	border-radius: 5px;
  background-color: rgb(196 193 193 / 63%); 
}

.backgroundContent::-webkit-scrollbar-thumb {
	display: none;
}

.sectRight {
	display: flex;
	justify-content: space-between;
}

.sectLeft {
	margin-right: 9px;
}

.blocksHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	width: 100%;
}

.badConnect {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	width: 100%;
	height: 50vh;
}

.badConnect p {
	font-size: 32px;
}


@media (width <= 1320px) {
.backgroundContent {
		overflow: hidden;

		min-width: 678px;
		max-width: 1000px;
		height: 80vh;
	}
}

@media (width <= 1120px) {
	.backgroundContent {
		overflow: hidden;

		min-width: 678px;
		max-width: 800px;
		height: 80vh;
	}
}

@media (width <= 900px) {
	.backgroundContent {
		min-width: 100vw;
		max-width: 100vw;
		height: 100vh;
	}

	.wrapper {
		min-width: 100vw;
		min-height: 100vh;
	}

	.backgroundContent {
		height: 100vh;
	}

	.scrollBlock {
		min-width: 80%;
		height: 86vh;
	}
}

@media (width <= 766px) {
	.scrollBlock {
		margin-top: 5px;
		margin-bottom: 10px;
	}

	.blocksHeader {
		width: 100vw;
	}

	.scrollBlock {
		width: 100%;
	}

	.scrollBlock::-webkit-scrollbar-thumb {
		background-color: rgb(196 193 193 / 0%);
	}

	.scrollBlock::-webkit-scrollbar {
		width: 0;
	}
}

@media (width <= 610px) {
	.backgroundContent {
		margin-top: 0;
	}
}


@media (width <= 350px) {
	.backgroundContent {
		min-width: 100vw;
		max-width: 100vw;
		height: 100vh;
	}

	.wrapper {
		min-width: 100vw;
		min-height: 100vh;
	}

	.backgroundContent {
		height: 100vh;
	}

	.scrollBlock {
		min-width: 80%;
		height: 76vh;
	}
}