.menuMain {
	display: flex;
	align-items: center;
	flex-direction: column;

	height: 89%;
	margin-left: 14px; 
}

.menuWrapper {
  display: flex;
  align-self: flex-end;
  flex-flow: column nowrap; 
  justify-content: space-between; 

	width: 90px;
	height: 100%;

  border-radius: 30px;
  background-color: #d9d9d92a;
	gap: 30px;
}

.menuHeader {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	height: 90vh;
	min-height: 520px;
}

.mainMenu {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	height: 60vh;	
	margin-top: 15px;
	gap: 25px;
}

.otherMenu {
	display: flex;
	flex-direction: column;
	justify-content: center;

	margin-bottom: 10px;
}


